html {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #303030;
}

:root {
  --grey: #d3d3d3;
  --darknavy: #1e293b;
  --darkred: #d30004;
  --foreground: #334155;
  --background: #38bdf8;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* -------------------- 여기부터 입력창란 -------------------- */

.outbox {
  width: 780px;
  height: 780px;
  border: 1px var(--grey) solid;
  border-radius: 12px;
  background-color: #0e192b;
  display: flex;
}

.writebox,
.preview {
  margin: auto;
}

.writebox {
  width: 343px;
  height: 710px;
  background: var(--darknavy);
  border: 1px var(--foreground) solid;
  border-radius: 12px;
  padding: 10px 15px;
}

.preview {
  width: 343px;
  height: 350px;
  background-color: var(--darknavy);
  border: 2px var(--background) solid;
  border-radius: 16px;
  overflow: hidden;
}

.preset-bts {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

#bt-blue,
#bt-green,
#bt-pink {
  width: 90px;
  height: 25px;
  border-radius: 6px;
  font-size: 10px;
}

#bt-blue {
  background-color: var(--foreground);
  border: 1px var(--background) solid;
  color: var(--background);
}

#bt-green {
  background-color: #064e3b;
  border: 1px #34d399 solid;
  color: #34d399;
}

#bt-pink {
  background-color: #2a1215;
  border: 1px #ffaaaa solid;
  color: #ffaaaa;
}

/* ✨✨✨ 입력창 스타일 ✨✨✨ */
.inputbox {
  background-color: #0f172a;
  border: 1px #334155 solid;
  border-radius: 6px;
  padding: 0px 0px 0px 10px;
  color: var(--grey);
}
/* ✨✨✨ 입력창 스타일 ✨✨✨ */

.point-box,
.back-box {
  width: 145px;
  height: 80px;
  padding: 3px 5px;
}

.color-container {
  display: flex;
  justify-content: space-between;
  font-size: 10px;
  margin-bottom: 10px;
}

.color-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#pt-color,
#bg-color {
  margin-bottom: 3px;
}

.pt-color-value,
.bg-color-value {
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.pt-picker,
.bg-picker {
  width: 28px;
  height: 16px;
  padding: 0px;
  border: none;
}

.color-value-row {
  display: flex;
  justify-content: space-between;
}

#pt-color-rgb,
#pt-color-hsl,
#pt-color-hex,
#bg-color-rgb,
#bg-color-hsl,
#bg-color-hex {
  text-align: right;
  width: 95px;
  height: 12px;
}

.name-mbti {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.name,
.mbti,
.in-a-word {
  height: 31.11px;
  color: white;
  font-size: 12px;
}

.name {
  width: 200px;
  font-weight: bold;
}

.mbti {
  width: 100px;
  font-weight: bold;
}

.in-a-word {
  width: 310px;
  margin-bottom: 15px;
}

.hobby-content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.hobby {
  padding: 0px;
  width: 80.52px;
  height: 31.11px;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
}

.hobby-text {
  width: 180px;
  height: 31.11px;
  font-size: 12px;
}

.delete {
  width: 36px;
  height: 31.11px;
  font-size: 8px;
  color: var(--darkred);
  border: 1px var(--darkred) solid;
  border-radius: 4px;
  background-color: var(--darknavy);
}

.like-content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.like {
  padding: 0px;
  width: 80.52px;
  height: 31.11px;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
}

.like-text {
  width: 180px;
  height: 31.11px;
  font-size: 12px;
}

.add-hobby,
.add-stat {
  width: 100%;
  height: 20.74px;
  color: var(--background);
  font-size: 8px;
  color: var(--background);
  border: 1px var(--background) dashed;
  border-radius: 6px;
  background-color: var(--darknavy);
  margin-bottom: 15px;
}

.add-stat {
  margin-bottom: 5px;
}

.status1,
.status2,
.status3,
.status4 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.stat1,
.stat2,
.stat3,
.stat4 {
  padding: 0px;
  width: 80.52px;
  height: 31.11px;
  font-size: 12px;
  text-align: center;
  font-weight: bold;
}

.stat1-value,
.stat2-value,
.stat3-value,
.stat4-value {
  padding: 0px;
  text-align: center;
  width: 50px;
  height: 31.11px;
  font-size: 12px;
}

.slider1,
.slider2,
.slider3,
.slider4 {
  position: relative;
  top: 15px;
  width: 100px;
  height: 8px;
  /* accent-color : input type="range"와 같은 폼 요소의 강조색을 바꿔주는 태그. */
  accent-color: var(--background);
  color: var(--foreground);
  border-radius: 8px;
}

.trait {
  width: 180px;
  height: 31.11px;
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 5px;
}

.trait-text {
  width: 310px;
  height: 82.95px;
  font-size: 12px;
  padding: 5px 5px;
  /* 텍스트 한 줄은 input, 여러 줄은 textarea로 적은 후 resize를 금지시키는 게 낫다. */
  resize: none;
  box-sizing: border-box;
}

/* -------------------- 여기부터 미리보기(프리뷰)란, 입력란 채울 시 보이도록 자바스크립트 배운 후 수정 -------------------- */

.preview {
  padding: 15px 20px;
}

#pre-name-mbti {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.pre-name {
  width: 200px;
  height: 30px;
  color: white;
  font-size: 24px;
  font-weight: bold;
}

.pre-mbti {
  width: 55px;
  height: 23px;
  background-color: var(--background);
  font-weight: 450;
  font-size: 12px;
  text-align: center;
  border-radius: 4px;
  margin: 10px 50px 0px 10px;
  padding: 2px 0px;
}

#pre-in-a-word {
  width: 300px;
  height: 30px;
  color: var(--grey);
  background-color: rgba(255, 255, 255, 0.3);
  border-left: 3px var(--background) solid;
  padding: 5px 8px;
  font-size: 14px;
  font-style: italic;
  margin-bottom: 8px;
}

#pre-hobby-text,
#pre-like-text {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
}

.pre-hobby,
.pre-like {
  width: 100px;
  height: 15px;
  font-size: 14px;
  color: var(--grey);
  font-weigh: bold;
}

.pre-hobby-text,
.pre-like-text {
  width: 200px;
  height: 15px;
  text-align: right;
  font-size: 14px;
  color: var(--grey);
}

#pre-statbox {
  margin-top: 12px;
  margin-bottom: 10px;
  padding: 5px 5px;
  border: 1px var(--grey) solid;
  border-radius: 8px;
}

#pre-statbox1,
#pre-statbox2,
#pre-statbox3,
#pre-statbox4 {
  display: flex;
  justify-content: space-around;
}

.pre-stat1,
.pre-stat2,
.pre-stat3,
.pre-stat4 {
  width: 55px;
  height: 15px;
  font-size: 14px;
  color: var(--grey);
}

.pre-slider1,
.pre-slider2,
.pre-slider3,
.pre-slider4 {
  margin-top: 8px;
  margin-bottom: 8px;
  width: 200px;
  height: 8px;
  background-color: var(--foreground);
  border-radius: 4px;
}

.pre-slider1-fill {
  width: 40px;
  height: 8px;
  background-color: var(--background);
  border-radius: 4px;
}
.pre-slider2-fill {
  width: 60px;
  height: 8px;
  background-color: var(--background);
  border-radius: 4px;
}
.pre-slider3-fill {
  width: 180px;
  height: 8px;
  background-color: var(--background);
  border-radius: 4px;
}
.pre-slider4-fill {
  width: 200px;
  height: 8px;
  background-color: var(--background);
  border-radius: 4px;
}

.pre-stat1-value,
.pre-stat2-value,
.pre-stat3-value,
.pre-stat4-value {
  width: 30px;
  height: 15px;
  font-size: 12px;
  color: var(--grey);
  text-align: center;
}

.pre-trait {
  width: 100px;
  height: 15px;
  font-size: 12px;
  color: var(--grey);
  font-weight: bold;
  margin-bottom: 5px;
}

.pre-trait-text {
  width: 300px;
  height: 30px;
  font-size: 12px;
  color: var(--grey);
}

.confidential {
  color: var(--darkred);
  font-weight: bold;
  font-size: 12px;
  width: 180px;
  text-align: center;
  position: relative;
  top: -288px;
  left: 194px;
  transform: rotate(45deg);
  border: 1px var(--darkred) dashed;
}
